<div id="header">
    <div id="header-wrap">
        <div id="left-header"><a href="/" class="logo header">InnoHotel</a></div>
        <div id="right-header">
            {% if 'username' in session %}
                <span><a href="/logout" class="header" id="logout">Log out</a></span>
            {% else %}
                <span><a href="/login" class="header">Log in</a></span>
                <span><a href="/signup" class="header" id="signup">Sign up</a></span>
            {% endif %}
        </div>
    </div>
</div>