{% extends "base.html" %}
{% block body %}
    <div class="shadow_block" id="login_block">
        <form action="" method="post" id="login_form">
            <h2 class="login_header">Log in to InnoHotel</h2>
            {% if error %}
                <div class="error" id="login_error">{{ error }}</div>
            {% endif %}
            {% include "login_form.html" %}
            <button type="submit" class="big">Login</button>
            <span id="login_extra">Don’t have an account? <a href="/signup" class="login">Sign up</a></span>
        </form>
    </div>
{% endblock %}