{% extends "base.html" %}
{% block body %}
    <div id="manager_wrap">
        <div class="shadow_block">
            <p class="manager_title">Hotel - {{ hotel }}</p>
        </div>
        {% if error %}
            <div class="error" id="manager_error">{{ error }}</div>
        {% endif %}
        <div id="manager_block_left">
            <div class="shadow_block">
                <p class="manager_title">Check in</p>
            </div>

            {% for check_in in check_ins %}
                <div class="shadow_block" style="width: 80%">
                    <div class="manager_block_inner">
                        <div class="manager-info">{{ check_in[1] }}</div>
                        <div class="manager-info">{{ check_in[2] }}</div>
                        <div class="manager-info">{{ check_in[3].strftime("%Y.%m.%d %H:%M") }}</div>
                        <div class="manager-info">Room - {{ check_in[4] }}</div>
                    </div>
                    <form action="" method="post">
                        <input type="hidden" name="bid" value={{ check_in[0] }}>
                        <button type="submit" class="full purple" name="check_in">CHECK IN</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div id="manager_block_right">
            <div class="shadow_block">
                <p class="manager_title">Check out</p>
            </div>

            {% for check_out in check_outs %}
                <div class="shadow_block" style="width: 80%">
                    <div class="manager_block_inner">
                        <div class="manager-info">{{ check_out[1] }}</div>
                        <div class="manager-info">{{ check_out[2] }}</div>
                        <div class="manager-info">{{ check_out[3].strftime("%Y.%m.%d %H:%M") }}</div>
                        <div class="manager-info">Room - {{ check_out[4] }}</div>
                    </div>
                    <form action="" method="post">
                        <input type="hidden" name="bid" value={{ check_out[0] }}>
                        <button type="submit" class="full purple" name="check_out">CHECK OUT</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}